<nav>
  <ul>
    <li *ngIf="!isLoggedIn()"><a routerLink="/login">Login</a></li>

     <!-- Super Admin can access Super Admin Panel -->
     <li *ngIf="isSuperAdmin()"><a routerLink="/super-admin">Super Admin Panel</a></li>

    <!-- Super Admin can access Group Management -->
    <li *ngIf="isSuperAdmin() || isAdmin()"><a routerLink="/groups">Group Management</a></li>
    
    <!-- Users can access Chat -->
    <li *ngIf="isUser() || isSuperAdmin() || isAdmin()"><a routerLink="/chat">Chat</a></li>
    <li *ngIf="isLoggedIn()"><a routerLink="/logout">Logout</a></li>
  </ul>
</nav>


<router-outlet></router-outlet>
