<div class="manage-users-container">
  <h2>Manage Users</h2>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td class="actions">
          <button class="promote-btn" (click)="promoteUser(user.id)">Promote to Admin</button>
          <button class="delete-btn" (click)="deleteUser(user.id)">X</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>