<h2>Manage Groups</h2>

<div>
  <label>New Group Name:</label>
  <input [(ngModel)]="groupName" placeholder="Enter group name">
  <button (click)="addGroup()">Add Group</button>
</div>

<ul>
  <li *ngFor="let group of groups">
    <h3>{{ group.name }}</h3>

    <div>
      <label>New Channel Name:</label>
      <input [(ngModel)]="channelName" placeholder="Enter channel name">
      <button (click)="addChannel(group.id)">Add Channel</button>
    </div>

    <h4>Channels</h4>
    <ul>
      <li *ngFor="let channel of group.channels">
        {{ channel.name }}
      </li>
    </ul>

    <div>
      <label>Select User to Add:</label>
      <select [(ngModel)]="selectedUserId">
        <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
      </select>
      <button (click)="addUserToGroup(group.id)">Add User to Group</button>
    </div>

    <button (click)="deleteGroup(group.id)">Delete Group</button>
  </li>
</ul>

