<h2>Group Management</h2>

<!-- Form to create a new group -->
<form (ngSubmit)="addGroup()">
  <label>Group Name:</label>
  <input type="text" [(ngModel)]="groupName" name="newGroupName" required>
  <button type="submit">Create Group</button>
</form>

<!-- List of existing groups -->
<ul>
  <li *ngFor="let group of groups">
    {{ group.name }}
    <button (click)="deleteGroup(group.id)">Delete</button>

    <!-- Manage users in the group -->
    <div>
      <h4>Users in Group:</h4>
      <ul>
        <li *ngFor="let user of group.users">{{ user.username }}</li>
      </ul>
    </div>
  </li>
</ul>
